/** @format */

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
  row-gap: 3rem;
  align-items: center;
  justify-items: center;
  margin: 2rem auto;
  padding: 1rem;
  width: 100%;
  height: auto;
  transition: all 0.5s ease;
}

/*UI breaks 58em */
@media (max-width: 58em) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
  }
}

/*Grid breaks in between  Tablet to Mobile Large Screen */
@media (max-width: 58em) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    padding: 0.5rem;
    width: 95%;
  }
}

/*Grid at  Mobile Large Screen */
@media (max-width: 27em) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    width: 98%;
  }
}

/*Grid at Mobile Small Screen*/
@media (max-width: 20em) {
  .container {
    grid-template-columns: 1fr;
  }
}
