/** @format */

.container {
  background-color: red;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
  row-gap: 3rem;
  align-items: center;
  justify-items: center;
  margin: 2rem auto;
  padding: 1rem;
}

/* mobile screen large */
/* @media (max-width: 27em) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
} */

/*mobile screen small */
/* @media (max-width: 20em) {
  .container {
    grid-template-columns: repeat(1, 1fr);
  }
} */
