/** @format */

.container {
  width: 95rem;
  min-height: 100vh;
  margin: 6rem auto;
}

/*Layout breaks 58em */
@media (max-width: 58em) {
  .container {
    width: 100vw;
    margin-left: 1rem;
  }
}
