/** @format */

.container {
  /* background-color: #adb5bd;*/
  z-index: 22;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, 50%);
}

.bar {
  width: 25rem;
  height: 1.5rem;
  background-color: #adb5bd;
  border-radius: 5px;
  overflow: hidden;
}

.active_bar {
  width: 0%;
  height: 100%;
  background-color: #fa5252;
  animation-name: load_anim;
  animation-duration: 1.8s;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  animation-iteration-count: infinite;
}

.container p {
  text-align: center;
  font-size: 2rem;
  font-family: "Leckerli One", cursive;
  color: #fa5252;
  margin: 2rem auto;
}

@keyframes load_anim {
  0% {
    width: 10%;
  }
  25% {
    width: 25%;
  }
  50% {
    width: 50%;
  }
  75% {
    width: 75%;
  }
  100% {
    width: 100%;
  }
}
