/** @format */

.container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.sortItem {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
}

/*Mobile Large*/
@media (max-width: 27em) {
  .container {
    row-gap: 0.3rem;
  }
}

/*Mobile Small*/
@media (max-width: 20em) {
  .sortItem {
    column-gap: 1rem;
  }
}
