/** @format */

.container {
  width: 100%;
  display: flex;
  align-items: center;
}

.container input[type="radio"] {
  padding: 2rem;
}

.container p {
  flex: 1;
  position: relative;
  width: 100%;
  font-size: 1.3rem;
  font-weight: 300;
  padding: 1rem;
  margin-left: 1rem;
}

.text_strike {
  text-decoration: line-through;
}

.container_underline {
  border-bottom: 1px solid rebeccapurple;
}

/*Container breaks at 43em before Large Mobile Screen */
@media (max-width: 43em) {
  .container p {
    font-size: 1.2rem;
  }
}
